<nav class="bg-white fixed z-30 w-full border-neutral-200 border-b-[1px]">
  <div class="px-3 py-3">
    <div class="flex justify-between">
      <div class="align-middle flex">
        Triumph
      </div>
      <!-- <img src="/assets/img/Triumph_logo.png" alt="" width="200px"/> -->
      <div class="align-middle flex">
        <button class="bg-transparent text-stone-400 p-2 cursor-pointer">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
          </svg>
        </button>
        <button class="bg-transparent text-stone-400 p-2 cursor-pointer">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>
          </svg>
        </button>
        <div class="align-middle flex ml-3 p-2">
          <img class="rounded-full w-8 h-8 " src="https://flowbite.com/application-ui/demo/images/users/michael-gough.png"/>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="pt-16 overflow-hidden flex">
  <aside class="fixed left-0 top-0 z-20 h-full pt-16 w-64 flex-col flex-shrink-0">
    <div class="bg-white border-neutral-200 border-r-[1px] flex-col flex relative justify-between">
      <div class="py-5 overflow-y-auto flex flex-col">
        <div class="px-3">
          <ul class="pb-2 border-neutral-200 border-b-[1px]">
            <li>
              <a class="p-2">
                <span class="ml-3">Inicio</span>
              </a>
            </li>
            <li>
              <a class="p-2">
                <span class="ml-3">Demanda</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>
  <router-outlet></router-outlet>
</div>

