<div>
    <main>
        <!--Header-->
        <div class="bg-white w-full mt-[.375rem] flex p-4 border-b border-neutral-200 justify-between items-center">
            <div class="items-center flex">
                <div class="pl-4 text-[#6b7280] flex">Nuevo Mensaje</div>
            </div>
            <div class="px-2 flex">
                <div class="pr-2">
                    <a class="text-[#6b7280] p-1 rounded justify-center cursor-pointer inline-flex hover:bg-neutral-100" (click)="clear()">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                        </svg>
                    </a>
                </div>
                <div class="pl-2">
                    <a class="text-[#6b7280] p-1 rounded justify-center cursor-pointer inline-flex hover:bg-neutral-100">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 8-4 4 4 4"/>
                        </svg>

                    </a>
                    <a class="text-[#6b7280] p-1 rounded justify-center cursor-pointer inline-flex hover:bg-neutral-100">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 16 4-4-4-4"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <form (ngSubmit)="sendEmail()" class="bg-white pt-8 p-4">
            <div class="pl-4 pb-5">
                <div>
                    <input placeholder="Para" [(ngModel)]="recipient" [ngModelOptions]="{standalone: true}" required type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mt-4">
                    <input placeholder="Asunto" [(ngModel)]="subject" [ngModelOptions]="{standalone: true}" required type="text" id="default-input2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mt-4">
                    <textarea id="message" [(ngModel)]="body" [ngModelOptions]="{standalone: true}" rows="24" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Escriba su mensaje ..."></textarea>
                </div>
            </div>
            <div class="pl-4 flex items-center">
                <div class="flex">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar</button>
                </div>
            </div>
        </form>
    </main>
</div>